@model DolmToken.Models.User

@{ ViewData["Title"] = "Buy"; }

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://kit.fontawesome.com/64d58efce2.js"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/LogReg.css" />
    <title>Buy</title>
</head>

<div class="buy">
    <div class="burning">
        <h1>Burning token  &#128293</h1>
        <p>The burn of 50% of our Tokens will lead to a much higher price of the DOLMTOKEN in the crypto market.</p>
    </div>

    <div class="liquidity">
        <h1>Locked liquidity  &#128167</h1>
        <p>I have no idea what that means. And yeah we burn 50% we lock 50% so nobody can buy a token anymore or what?</p>
    </div>

    <div class="marketing" >
        <h1>Marketig  &#128176</h1>
        <p>
            The fees you are charged are 100% only used for marketing which results
            in a higher recognition for the DOLMTOKEN so the price will start going to the moon.
        </p>
    </div>
    <div class="reg" style="margin-top: 80px; margin-left: 50px;">
        <p>
            <a href="/user/registration/">Sign in </a>into our Page to see all Coinmarket Prices.
        </p>
    </div>
</div>