@model DolmToken.Models.User
@{
    ViewData["Title"] = "Index";
}
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://kit.fontawesome.com/64d58efce2.js"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/LogReg.css" />
    <title>Login Form</title>
</head>

<body>
    <div class="ganze">
        <h1>Settings</h1>
        <div class="=settings">
            <input type="button" value="Keine ahnung" class="btn solid" />
            <input type="button" value="logout" class="btn solid" />
        </div>
    </div>
    
</body>

