@model DolmToken.Models.User
@{
    ViewData["Title"] = "Index";
}

<h1>AKTIV</h1>
<form asp-controller="user" asp-action="login" method="post">
    <p>
        <label text="Benutzername" asp-for="username">Username/Email</label><br />
        <input type="text" asp-for="username" placeholder="Your username/email..." />
    </p>
    <p>
        <label asp-for="password">Password</label><br />
        <input type="text" asp-for="password" placeholder="Your password..." />
    </p>
    <p>
        <input type="submit" value="absenden" />
        <input type="reset" value="abbrechen" />
    </p>
    <p>
        <a href="/user/Registration">Hier kommen Sie zur Registrierung.</a>
    </p>
</form>
